/* Variables and mixins declared here will be available in all other SCSS files */

$primary-color: #00abe1;
$secondary-color: #161f6d;
$font-color: #ffffff;

$dark-color: #212121;
$light-color: #f5f5f5;

$field-size: 60px;
$piece-size: 40px;

$white-field-color: #ffffff;
$black-field-color: #123b07;